<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
	<thead>
	  <tr>
		<th>ID</th>
		<th>Course</th>
		<th>Index number</th>
		<th>First name</th>
		<th>Last name</th>
		<th></th>
	  </tr>
	</thead>
	<tbody *ngIf="enrollments?.length != 0">
		<tr *ngFor="let enrollment of enrollments">
			<td>{{ enrollment.course_enrollment_id }}</td>
			<td>{{ enrollment.course.name }}</td>
			<td>{{ enrollment.student.index_number}}</td>
			<td>{{ enrollment.student.first_name }}</td>
			<td>{{ enrollment.student.last_name }}</td>
			<td><a><mat-icon (click)='remove(enrollment.course_enrollment_id)' style="color: black;">delete</mat-icon></a></td>
		</tr>
	</tbody>
	<tbody *ngIf="enrollments?.length == 0">
	  <tr>
		<td colspan="3" class="no-data-available">No data!</td>
	  </tr>
	<tbody>
</table>

