<div class="card">
	<h1>My profile</h1>
	<a><mat-icon (click)="changeEditMode()" style="color: black">edit</mat-icon></a>
</div>
<br>
<div class="card">
	    <h2>User details:</h2>
		<label>Username: <span *ngIf="!editMode">{{username}}</span><input id="usernameInput" *ngIf="editMode" value="{{username}}"/></label>
		<label>Password: <span *ngIf="!editMode">(hidden)</span><input id="passwordInput" type="password" *ngIf="editMode" value="{{password}}"/></label>
		<label>Role: <span>{{role}}</span></label>
</div>
<div class="card">
	<h2>Personal details:</h2>
	<label>First name: <span *ngIf="!editMode">{{firstName}}</span><input id="firstNameInput" *ngIf="editMode" value="{{firstName}}"/></label>
	<label>Last name: <span *ngIf="!editMode">{{lastName}}</span><input id="lastNameInput" *ngIf="editMode" value="{{lastName}}"/></label>
	<div style="display: inline-block;">
		<a><mat-icon *ngIf="editMode" (click)="submitTeacher()" style="margin: auto; color: black;">check_circle</mat-icon></a>
		<a><mat-icon *ngIf="editMode" (click)="changeEditMode()" style="margin: auto; color: black;">cancel</mat-icon></a>
	</div>
</div>
