<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
	<thead>
	  <tr>
		<th>ID</th>
		<th>Username</th>
		<th>Role</th>
		<th></th>
	  </tr>
	</thead>
	<tbody *ngIf="users?.length != 0">
		<tr *ngFor="let user of users">
			<td>{{ user.id }}</td>
			<td>{{ user.username }}</td>
			<td>{{ user.role }}</td>
			<td>
				<a><mat-icon id={{user.id}} (click)='handleClick($event)' style="color: black;" >delete</mat-icon></a>
				<a><mat-icon (click)='handleUpdate(user.id, user.username, user.password, user.role)' style="color: black;">edit</mat-icon></a>
			</td>
		</tr>
	</tbody>
	<tbody *ngIf="users?.length == 0">
	  <tr>
		<td colspan="3" class="no-data-available">No data!</td>
	  </tr>
	<tbody>
</table>
<div *ngIf="show">
	<div class="col-md-6 offset-md-3 mt-5">
		<div class="card">
			<h4 class="card-header">Update user</h4>
			<div class="card-body">
					<div style="width: 50%; margin: 0 auto;">
						<label for="username">Username:</label>
						<input id="usernameInput" value="{{username}}"/>
					</div>
					<div style="width: 50%; margin: 0 auto;">
						<label for="password">Password:</label>
						<input id="passwordInput" value="{{password}}" type="password" />
					</div>
			</div>
			<div style="display: inline-block;">
				<a><mat-icon (click)="updateUser()" style="margin: auto; color: black;">check_circle</mat-icon></a>
				<a><mat-icon (click)="handleCancel()" style="margin: auto; color: black;">cancel</mat-icon></a>
			</div>
			</div>
		</div>
</div>



