.image{
	height:53em; background-size:cover; width:auto;
	background-image:url('http://www.pptbackgrounds.org/uploads/hardworking-student-powerpoint-templates.JPG');
	background-position:50% 50%;
  }
