<br>
<h4>Select which course exams would you like to update:</h4>
<div id="wrapper">
	<div id="header">
		<select class="custom-select" name="course" (change)="courseChange($event)" id="course" ng-init="selection = 'Choose course'">
			<option [ngValue]="null">Choose course</option>
			<option *ngFor="let course of courses; let i = index" [id]="courses[i].id" [value]="courses[i].id">
				{{courses[i].course.name}}
			</option>
		</select>
	</div>
	<div id="nextButton">
		<a><mat-icon (click)="handleClick($event)" style="color: black;">arrow_forward</mat-icon></a>
	</div>
</div>

