<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
	<thead>
	  <tr>
		<th>ID</th>
		<th>First name</th>
		<th>Last name</th>
		<th>User ID</th>
		<th></th>
	  </tr>
	</thead>
	<tbody *ngIf="teachers?.length != 0">
		<tr *ngFor="let teacher of teachers">
			<td>{{ teacher.id }}</td>
			<td>{{ teacher.first_name }}</td>
			<td>{{ teacher.last_name }}</td>
			<td>{{ teacher.user.id }}</td>
			<td>
				<a><mat-icon id={{teacher.id}} (click)='handleClick($event)' style="color: black;">delete</mat-icon></a>
				<a><mat-icon (click)='handleUpdate(teacher.id, teacher.first_name,
					teacher.last_name, teacher.user.id, teacher.user.username, teacher.user.password, teacher.user.role)' style="color: black;">edit</mat-icon></a>
			</td>
		</tr>
	</tbody>
	<tbody *ngIf="teachers?.length == 0">
	  <tr>
		<td colspan="3" class="no-data-available">No data!</td>
	  </tr>
	<tbody>
</table>
<div *ngIf="show">
	<div class="col-md-6 offset-md-3 mt-5">
		<div class="card">
			<h4 class="card-header">Update teacher details</h4>
			<div class="card-body">
					<div style="width: 50%; margin: 0 auto;">
						<label>First name:</label>
						<input id="firstNameInput" value="{{firstName}}"/>
					</div>
					<div style="width: 50%; margin: 0 auto;">
						<label>Last name:</label>
						<input id="lastNameInput" value="{{lastName}}"/>
					</div>
			</div>
			<div style="display: inline-block;">
				<a><mat-icon (click)="updateTeacher()" style="margin: auto; color: black;">check_circle</mat-icon></a>
				<a><mat-icon (click)="handleCancel()" style="margin: auto; color: black;">cancel</mat-icon></a>
			</div>
			</div>
		</div>
</div>
