<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="role === 'ADMIN'">
	<a class="navbar-brand" routerLink="/admin"><mat-icon>home</mat-icon></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Add <mat-icon [ngStyle]="{'color':'black'}">add_box</mat-icon>
		  </a>
		  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" routerLink="/admin/add-student">Student</a>
			<a class="dropdown-item" routerLink="/admin/add-teacher">Teacher</a>
			<a class="dropdown-item" routerLink="/admin/add-admin">Admin</a>
		  </div>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				View <mat-icon [ngStyle]="{'color':'black'}">table_view</mat-icon>
			</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" routerLink="/admin/users">Users</a>
			<a class="dropdown-item" routerLink="/admin/students">Students</a>
			<a class="dropdown-item" routerLink="/admin/teachers">Teachers</a>
			<a class="dropdown-item" routerLink="/admin/courses">Courses</a>
			<a class="dropdown-item" routerLink="/admin/enrollments">Course enrollments</a>
			<a class="dropdown-item" routerLink="/admin/engagements">Teacher engagements</a>
			<a class="dropdown-item" routerLink="/admin/transactions">Transactions</a>
		</div>
		</li>
	  </ul>
	  <a class="nav-item nav-link" routerLink="/admin/profile"><mat-icon [ngStyle]="{'color':'black'}">account_box</mat-icon></a>
	  <a class="nav-item nav-link" (click)="logout()"><mat-icon [ngStyle]="{'color':'black'}">exit_to_app</mat-icon></a>
	</div>
</nav>


<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="role === 'STUDENT'">
	<a class="navbar-brand" routerLink="/student"><mat-icon>home</mat-icon></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			   Exams <mat-icon>assignment</mat-icon>
		  </a>
		  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" routerLink="/student/register-exams">Register</a>
			<a class="dropdown-item" routerLink="/student/unregister-exams">Unregister</a>
			<a class="dropdown-item" routerLink="/student/active-exams">Active</a>
			<a class="dropdown-item" routerLink="/student/passed-exams">Passed</a>
		  </div>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				View <mat-icon>table_view</mat-icon>
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" routerLink="/student/enrollments">Courses</a>
				<a class="dropdown-item" routerLink="/student/transactions">Transactions</a>
				<a class="dropdown-item" routerLink="/student/documents">Documents</a>
			</div>
		</li>
	  </ul>
	  <a class="nav-item nav-link" routerLink="/student/profile"><mat-icon style="color: black;">account_box</mat-icon></a>
	  <a class="nav-item nav-link" (click)="logout()"><mat-icon style="color: black;">exit_to_app</mat-icon></a>
	</div>
</nav>


<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="role === 'TEACHER'">
	<a class="navbar-brand" routerLink="/teacher"><mat-icon>home</mat-icon></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item dropdown">
		  <a class="nav-link" routerLink="/teacher/engagements" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Courses <mat-icon>library_books</mat-icon>
		  </a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link" routerLink="/teacher/exams" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  Exams <mat-icon>assignment</mat-icon>
			</a>
		  </li>
	  </ul>
	  <a class="nav-item nav-link" routerLink="/teacher/profile"><mat-icon style="color: black;">account_box</mat-icon></a>
	  <a class="nav-item nav-link" (click)="logout()"><mat-icon style="color: black;">exit_to_app</mat-icon></a>
	</div>
</nav>


<router-outlet></router-outlet>
