<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
	<thead>
	  <tr>
		<th>ID</th>
		<th>Course</th>
		<th>First name</th>
		<th>Last name</th>
		<th>Role</th>
		<th></th>
	  </tr>
	</thead>
	<tbody *ngIf="engagements?.length != 0">
		<tr *ngFor="let engagement of engagements">
			<td>{{ engagement.teacher_engagement_id }}</td>
			<td>{{ engagement.course.name }}</td>
			<td>{{ engagement.teacher.first_name }}</td>
			<td>{{ engagement.teacher.last_name }}</td>
			<td>{{ engagement.teacher_role }}</td>
			<td><a><mat-icon (click)='remove(engagement.teacher_engagement_id)' style="color: black;">delete</mat-icon></a></td>
		</tr>
	</tbody>
	<tbody *ngIf="engagements?.length == 0">
	  <tr>
		<td colspan="3" class="no-data-available">No data!</td>
	  </tr>
	<tbody>
</table>

